@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: noone;
}

a {
  text-decoration: none;
  color: #000;
}

/* ----------- header -------------- */
header {
  padding: 20px 0;
}

/*? 이게 왜 필요하지?? block 요소를 바꾸는 이유는?? */
header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  margin-left: 30px;
}

header ul li a {
  font-weight: 500;
  transition: 0.5s;
}

header ul li a:hover {
  color: #38d16a;
  font-weight: 500;
}

.HeaderIcon {
  margin-left: 20px;
  transition: 0.5s;
}

.navbar-items-icon {
  color: #000;
  display: none;
}

.header.active {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 6%);
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  header .icon {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .nav-links-sidebar {
    position: absolute;
    left: 50px;
    top: 75px;
    display: block;
    background-color: #fff;
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  header ul li {
    margin-bottom: 30px;
  }

  .navbar-items-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
  }
}

/* ----------- header -------------- */

/* ----------- Home -------------- */
.left,
.right {
  width: 50%;
  position: relative;
}

.flex {
  display: flex;
}

.topMargin {
  margin-top: 80px;
}

.home {
  height: 90vh;
}

.home .img {
  height: 90vh;
  width: 100%;
  position: relative;
}
/* scale이 이미지를 더 돋보이게 해줬는데, 궁금한점은 경계 해석부분이다. */
.home img {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}

.home h1 {
  font-size: 60px;
}
/* i를 flex안쓰고 위아래로 가운데 정렬시키는 방법 */
.socialIcon i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.socialIcon i:hover {
  color: #fff;
}

.facebook {
  color: #4267b2;
  border: 1px solid #4267b2;
}

.facebook:hover {
  background-color: #4267b2;
}

.instagram {
  color: #dc2743;
  border: 1px solid #dc2743;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.twitter {
  color: #38a1f3;
  border: 1px solid #38a1f3;
}

.twitter:hover {
  background-color: #38a1f3;
}

.youtube {
  color: #e92525;
  border: 1px solid #e92525;
}

.youtube:hover {
  background-color: #e92525;
}

.pinterest {
  color: #c8232c;
  border: 1px solid #c8232c;
}

.pinterest:hover {
  background-color: #c8232c;
}

.dribble {
  color: #ee72a2;
  border: 1px solid #ee72a2;
}

.dribble:hover {
  background-color: #ee72a2;
}

/* outline은 왜준 거야? */
button {
  background: none;
  border: none;
  /* outline: none; */
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background-color: #38d16a;
}

.primary-btn:hover {
  background-color: #f54ea2;
  box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}

.home .right {
  margin-top: 30%;
  margin-left: 7%;
}

.home .socialIcon {
  margin: 30px 0;
}

.home p {
  margin-bottom: 20px;
}

p {
  color: #6185a5;
  line-height: 30px;
}

/* ----------- Home -------------- */
